.cert-img {
    width: 30rem;
}

.cert-grid-container {
    margin-left: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img1";
}
  
.img1 { 
      grid-area: img1; 
}


  