@media only screen and (max-width: 500px) {
    .nav-btn {
        margin-right: .15rem;
    }

    .guide {
        display: flex;
    }

    #first-img {
        display: none;
    }    

    .home-grid-container {
        margin-left: .75rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "basic-info";
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    #basic-info {
        margin-top: 0rem;
    }
    
}

@media only screen and (max-width: 800px) {
    .build-grid-container {
        width: 100%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-left: 1.5rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 3rem 0;
        grid-template-areas:
            "hillside" 
            "port-img" 
            "grocery-list" 
            "cantstopcbus"
        }
}





